server:
  port: 8081

spring:
  profiles:
    active: dev

  application:
    name: CoopCredit

  datasource:
    url: ${DB_URL_POSTGRES}
    username: ${DB_USERNAME_POSTGRES}
    password: ${DB_PASSWORD_POSTGRES}
    driver-class-name: org.postgresql.Driver

  jpa:
    database: PostgreSQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 50

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    com.riwi.coopcredit: DEBUG

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
    displayRequestDuration: true
    deepLinking: true
  api-docs:
    path: /v3/api-docs
  show-actuator: true

external:
  risk-service:
    url: ${EXTERNAL_SERVICE_URL}
    timeout: 5000

jwt:
  secret:
    key: ${SECRET_KEY}
  expiration:
    time: ${EXPIRATION_TOKEN}

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, loggers, threaddump, heapdump
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    metrics:
      access: read_only
    prometheus:
      access: read_only
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
      environment: ${spring.profiles.active}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
